fastapi
uvicorn[standard]
sqlalchemy
pymysql
alembic
python-jose[cryptography]
passlib[bcrypt]
pydantic
python-multipart
python-dotenv

openai
langchain
langchain-openai
langchain-community

pinecone-client

streamlit
redis
celery[redis]
